          <form 
            id="response"
            hx-post="/main/lcm/get_or_post_form_values" 
            hx-swap="outerHTML" 
            hx-target="#response" 
            class="mb-3">
            {%for x in range(number_of_values)%}
            <div class="form-group">
              <label for="{{loop.index}}">Value {{loop.index}}:</label>
              <input type="number" 
                id="{{loop.index}}" 
                placeholder="Enter value {{loop.index}}" 
                name="{{loop.index}}" 
                class="form-control mb-3"
                min="1" 
                required />
            </div>
            {%endfor%}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>  