{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Mean</h1>
  <form 
    hx-post="/main/statistics/mean" 
    hx-swap="beforeend" 
    hx-target="#response" 
    class="mb-3">
    <div class="form-group">
      <label for="item">Value:</label>
      <input type="number" 
        id="item" 
        placeholder="Enter a value" 
        name="value" 
        class="form-control mb-3"
        min="1" 
        required />
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Value</th>
            <th scope="col">Index</th>
            <th scope="col">Sum</th>
            <th scope="col">Mean</th>
          </tr>
        </thead>
        <tbody 
          id="response" 
          hx-target="closest tr" 
          hx-swap="outerHTML swap:0.5s"> 
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}