
{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Miscellaneous (Values) </h1>
  <form 
    hx-post="/main/miscellaneous/values" 
    hx-swap="outerHTML" 
    hx-target="#response" 
    class="mb-3">
    <div class="form-group">
      <label for="original_value">Numner:</label>
      <input type="number" 
        id="original_value" 
        placeholder="Enter a number" 
        name="original_value" 
        class="form-control mb-3"
        required />
    </div>
    <div class="form-group">
      <label for="requirement">Operation:</label>
      <select class="form-control" id="requirement" name="requirement">
        <option value="is_leap_year">Is leap year</option>
        <option value="inverse">Inverse</option>
        <option value="log">Log</option>
        <option value="antilog">Anti Log</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="card">
    <div class="card-body">
      <div id="response" >ugchjgjhghjghjg</div>
    </div>
  </div>
</div>
{% endblock content %}
