{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Volume of a Parallelpiped</h1>
  <form 
    hx-post="/main/volume/parallelpiped" 
    hx-swap="beforeend" 
    hx-target="#response" 
    class="mb-3">
    <div class="form-group">
      <label for="length">Length (l):</label>
      <input type="number" 
        id="length" 
        placeholder="Enter the value of length (l)" 
        name="length" 
        class="form-control mb-3"
        min="1" 
        required />
    </div>
    <div class="form-group">
      <label for="side">Width (w):</label>
      <input type="number" 
        id="width" 
        placeholder="Enter the value of width (w)" 
        name="width" 
        class="form-control mb-3"
        min="1" 
        required />
    </div>
    <div class="form-group">
      <label for="side">Height (h):</label>
      <input type="number" 
        id="height" 
        placeholder="Enter the value of height (h)" 
        name="height" 
        class="form-control mb-3"
        min="1" 
        required />
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Length (l)</th>
            <th scope="col">Width (w)</th>
            <th scope="col">Height (h)</th>
            <th scope="col">Volume (V)</th>
          </tr>
        </thead>
        <tbody 
          id="response" 
          hx-target="closest tr" 
          hx-swap="outerHTML swap:0.5s"> 
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}